@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    min-height: 100vh;
    max-width: 80vw;
    margin: auto;
}
.container h1,h2{
    margin: 23px 0;
}
.container form input[type="number"],select,label{
    font-size: 25px;
    margin-bottom: 23px ;
    width: 23vw;
}
.container form label{
    font-size: 25px;
}
.container form{
    display: flex;
    flex-direction: column;
}
footer{
    text-align: center;
}
nav{
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-weight: bolder;
    font-size: 20px;
    background-color:rgb(224, 209, 245);
    padding: 23px;
}
nav ul li{ 
    list-style: none;
    margin: 0 23px ;
}
nav ul{
    display: flex;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 23px;
}
nav li a{
    text-decoration: none;
    color: rgb(2,3,18);
    transition: all;
    transition-duration: 500ms;

}
nav li a:hover{
color: rgb(246, 245, 248);
}
.btn{
    width: 144px;
    padding: 5px 8px;
    font-size: 20px;
    background-color:rgb(224, 209, 245);
    color: black;
    border-radius: 13px;
    cursor: pointer;
}
.output table{
    width: 50vw;
    text-align: center;
    border: 2px solid black;
    font-size: 20px;

}
.output{
    display: none;
}